/* General */

body {
    font-size: 16px;
    font-family: 'Noto Sans';
    width: 65%;
    display: flex;
    margin: 0 auto;
}

.logo {
    width: 3.25rem;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
}

p {
    line-height: 1.2rem;
}

.content-container {
    margin-bottom: 3.5rem;
}

.section-content {
    margin-bottom: 1.5rem;
}

.timeline {
    font-size: 0.9rem;
    white-space: nowrap;
    line-height: 1.3rem;
}

.indented-wrapper {
    margin-left: 1.5rem;
}

.description {
    font-size: 0.87rem;
}

/* Header */

.header-wrapper {
    position: fixed;
    /* 100 x 65% x 30% = 19.5. Since it's fixed, it uses 100% width instead of 80%. */
    width: 19.5%;
    height: 100%;
    margin-top: 8rem;
}

#identity h2 {
    margin-top: 0.5rem;
}

#mini-desc {
    margin-top: 1.25rem;
    width: 80%;
}

header nav {
    margin-top: 5rem;
}

header nav li {
    margin-top: 1.5rem;
}

header nav li a {
    color: black;
    font-size: 0.85rem;
    line-height: 0.85rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

header nav li a:hover {
    font-size: 1rem;
    line-height: 0.85rem;
    margin-left: 1rem;
}

#lightdark img {
    width: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.35rem;
}

#lightdark {
    position: fixed;
    bottom: 0;
    margin-bottom: 3rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: inherit;
    /* Code below extracted from an example */
    appearance: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    display: inline-flex;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
}

/* Code extracted from an example */
#lightdark:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

/* Code extracted from an example */
#lightdark:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

/* Code extracted from an example */
#lightdark:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Main */

.main-wrapper {
    width: auto;
    /* Compensate positioning for left-side header. */
    margin-left: 30%;
    padding-top: 8.7rem;
    padding-left: 9rem;
}

.content-container h2 {
    margin-bottom: 1rem;
}

#about p {
    margin-bottom: 1rem;
}

#profexp .section-content {
    display: flex;
}

#profexp .timeline {
    min-width: 11rem;
}

#education .section-content {
    display: flex;
}

.edu-header {
    display: flex;
    justify-content: space-between;
}

.edu-univ {
    font-size: 0.93rem;
    font-style: italic;
}

.edu-courses {
    display: flex;
    margin-top: 0.75rem;
}

.relevantcourses-title {
    min-width: 10rem;
}

#tech-list {
    display: flex;
}

#tech-list .logo {
    padding-right: 1rem;
}