/* General */

body {
    font-size: 16px;
    font-family: 'Noto Sans';
    width: 65%;
    display: flex;
    margin: 0 auto;
    background-color: #F5F2E7;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tech-logo {
    width: 3.25rem;
}

.social-logo {
    width: 2rem;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
}

p {
    line-height: 1.2rem;
}

.content-container {
    margin-bottom: 3.5rem;
}

.section-content {
    margin-bottom: 1.5rem;
}

.timeline {
    font-size: 0.9rem;
    white-space: nowrap;
    line-height: 1.3rem;
}

.description {
    font-size: 0.87rem;
}

/* Header */

.header-wrapper {
    position: fixed;
    /* 100 x 65% x 30% = 19.5. Since it's fixed, it uses 100% width instead of 80%. */
    width: 19.5%;
    height: 100%;
    margin-top: 8rem;
}

#identity h2 {
    margin-top: 0.5rem;
}

#mini-desc {
    margin-top: 1.25rem;
    width: 80%;
}

.socials {
    height: 2.5rem;
    display: flex;
    margin-top: 1.5rem;
}

.socials img {
    padding-right: 1.5rem;
    transition: width 0.15s ease-in-out;
}

.socials img:hover {
    width: 2.5rem;
}

header nav {
    margin-top: 7rem;
}

header nav li {
    margin-top: 1.5rem;
}

header nav li a {
    color: inherit;
    font-size: 0.85rem;
    line-height: 0.85rem;
    font-weight: bold;
    letter-spacing: -0.025rem;
    text-decoration: none;
    transition: margin-left 0.1s ease-in-out;
}

header nav li a:hover {
    margin-left: 1rem;
}

#lightdark img {
    width: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.3rem;
}

#lightdark {
    position: fixed;
    bottom: 0;
    margin-bottom: 3rem;
    border: 0.0625rem solid black;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: inherit;
    /* Code below extracted from an example */
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    display: inline-flex;
    transition: box-shadow 0.15s, transform 0.15s;
    white-space: nowrap;
}

/* Code extracted from an example */
#lightdark:hover {
    transform: translateY(-2px);
}

/* Code extracted from an example */
#lightdark:active {
    transform: translateY(2px);
}

/* Main */

.main-wrapper {
    width: auto;
    /* Compensate positioning for left-side header. */
    margin-left: 30%;
    padding-top: 8.7rem;
    padding-left: 9rem;
}

.content-container h2 {
    margin-bottom: 1rem;
}

#about p {
    margin-bottom: 1rem;
}

#profexp .section-content {
    display: flex;
}

#profexp .timeline {
    min-width: 11rem;
}

.exp-wrapper {
    margin-left: 1.5rem;
}

.exp-desc {
    margin-top: 0.25rem;
}

#education .section-content {
    display: flex;
}

.edu-header {
    display: flex;
    justify-content: space-between;
}

.edu-univ {
    font-size: 0.93rem;
    font-style: italic;
}

.edu-desc {
    margin-top: 0.25rem;
}

.edu-courses {
    display: flex;
    margin-top: 0.75rem;
}

.relevantcourses-title {
    min-width: 10rem;
}

#tech-list {
    display: flex;
}

#tech-list .tech-logo {
    padding-right: 1rem;
}

/* Responsiveness */

@media only screen and (max-width: 1440px) {
    .tech-logo {
        width: 2.5rem;
    }
    
    .social-logo {
        width: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.93rem;
    }

    .socials img:hover {
        width: 2rem;
    }

    header nav li a {
        font-size: 0.8rem;
    }

    header nav li a:hover {
        margin-left: 0.8rem;
    }

    #lightdark img {
        width: 0.9rem;
    }

    .description {
        font-size: 0.85rem;
    }

    .timeline {
        font-size: 0.8rem;
    }

    #profexp .timeline {
        min-width: 8rem;
    }

    .exp-title-company {
        font-size: 0.87rem;
    }

    .edu-degree {
        font-size: 0.9rem;
    }

    .edu-univ {
        font-size: 0.85rem;
    }

    .relevantcourses-title {
        font-size: 0.8rem;
        min-width: 8.5rem;
    }

    .courses-list {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1024px) {
    .main-wrapper {
        padding-left: 6rem;
    }

    #profexp .section-content {
        display: block;
    }

    .exp-wrapper {
        margin-left: 0;
    }

    .edu-header {
        display: grid;
        grid-template-areas: "timeline"
                             "degree";
    }

    .edu-degree {
        grid-area: degree;
    }

    #education .timeline {
        grid-area: timeline;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    header nav {
        margin-top: 4rem;
    }

    .main-wrapper {
        padding-left: 3.5rem;
    }

    .edu-courses {
        display: block;
    }

    .courses-list {
        margin-top: 0.25rem;
    }
}

@media only screen and (max-width: 425px) {
    body {
        display: block;
    }
    .header-wrapper {
        position: static;
        width: auto;
        height: auto;
        margin-top: 5rem;
    }

    header nav {
        display: none;
    }

    .main-wrapper {
        margin: 0 auto;
        padding-top: 2.5rem;
        padding-left: 0;
    }

    #lightdark {
        position: absolute;
        top: 14.6rem;
        right: 4.6rem;
        bottom: auto;
    }

    .tech-logo {
        width: 2.25rem;
    }

    .edu-degree {
        font-size: 0.82rem;
    }

    .edu-univ {
        font-size: 0.8rem;
    }
}